{{ define "main" }}

<!-- scholarship -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 mb-4 mb-md-0">
        <img class="img-fluid" src="{{ .Params.Image | relURL }}" alt="parts and services">
      </div>
      <div class="col-md-6 content">
        {{ .Content }}
      </div>
    </div>
    <div class="row">
      <!-- scholarship item -->
      {{ range .Data.Pages }}
      <div class="col-lg-4 col-sm-6 mb-4">
        {{ .Render "scholarship" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <h2 class="section-title">Quality Products From Leading Brands</h2>
        <h4>T&E, Bowie, Roper, Drum & Jabsco</h4>
      </div>
      <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0 content">
        <h3>Some items we carry are:</h3>
        <p>Pumps</p>
        <ul>
          <li>Betts parts for trailers</li>
          <li>Dry Bulker Parts</li>
          <li>Milk Parts</li>
          <li>Custom Fabricated Parts</li>
        </ul>

        <p>Valves</p>
        <ul>
          <li>Fort Vale</li>
          <li>Girard</li>
          <li>Keystone</li>
          <li>Ultra Flow</li>
          <li>Norris</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- /scholarship -->

{{ end }}